- const __ = htmlWebpackPlugin.options.i18n
html
  head
    meta(charset="utf-8")
    title New Web Site
  body
    .container
      .top
        img(src=require('../assets/images/michelle.gif') alt="Michelle")
