@import "~normalize.css"
html
body
  font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", "Noto Sans", "Noto Sans CJK JP", sans-serif

.container
  padding-top: 2em
  width: 800px
  margin: 0 auto
.top
  display: flex
  justify-content: center
