@font-face
  font-family: "AlphaNSCjp"
  font-style: Thin
  font-weight: 100
  src: local("NotoSansCJKjp-Thin.otf")
  src: local("NotoSansJP-Thin.otf")
  src: url("../assets/fonts/AlphaNSCjp/AlphaNSCjp-Thin.woff") format("woff")

@font-face
 font-family: "AlphaNSCjp"
 font-style: Light
 font-weight: 200
 src: local("NotoSansCJKjp-Light.otf")
 src: local("NotoSansJP-Light.otf")
 src: url("../assets/fonts/AlphaNSCjp/AlphaNSCjp-Light.woff") format("woff")

@font-face
 font-family: "AlphaNSCjp"
 font-style: Demi Light
 font-weight: 300
 src: local("NotoSansCJKjp-DemiLight.otf")
 src: local("NotoSansJP-DemiLight.otf")
 src: url("../assets/fonts/AlphaNSCjp/AlphaNSCjp-DemiLight.woff") format("woff")

@font-face
 font-family: "AlphaNSCjp"
 font-style: Regular
 font-weight: 400
 src: local("NotoSansCJKjp-Regular.otf")
 src: local("NotoSansJP-Regular.otf")
 src: url("../assets/fonts/AlphaNSCjp/AlphaNSCjp-Regular.woff") format("woff")

@font-face
 font-family: "AlphaNSCjp"
 font-style:  Medium
 font-weight: 500
 src: local("NotoSansCJKjp-Medium.otf")
 src: local("NotoSansJP-Medium.otf")
 src: url("../assets/fonts/AlphaNSCjp/AlphaNSCjp-Medium.woff") format("woff")

@font-face
 font-family: "AlphaNSCjp"
 font-style: Bold
 font-weight: 700
 src: local("NotoSansCJKjp-Bold.otf")
 src: local("NotoSansJP-Bold.otf")
 src: url("../assets/fonts/AlphaNSCjp/AlphaNSCjp-Bold.woff") format("woff")

@font-face
 font-family: "AlphaNSCjp"
 font-style:  Black
 font-weight: 900
 src: local("NotoSansCJKjp-Black.otf")
 src: local("NotoSansJP-Black.otf")
 src: url("../assets/fonts/AlphaNSCjp/AlphaNSCjp-Black.woff") format("woff")
